* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }

  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

/* ------------------------------------------------------ */

  #promociones img{
    width: 100%;
  }
  /* ------------------------------------------------------ */

  #navegador{
    background-color: rgb(237, 30, 30);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 30px;
  }

  #navegador #menuHamburguesa{
    display: none;
  }

  #navegador img{
    width: 210px;
    height: auto;
    display: block;
  }

  #navegador ul{
    font-weight: bold;
    list-style: none;
    color: #ffffff;
    display: flex;
    gap: 15px;
    font-size: 18px;
  }

  #navegador div{
    display: flex;
  }

  #navegador div img{
    width: 50px;
  }

  /* ------------------------------------------------------ */

  #promocion2 img{
    width: 100%;
    height: auto;
    display: block;
  }

  /* ------------------------------------------------------ */

  #carrusel img{
    width: 100%;
    display: block;
  }

  /* ---------------------------------- */

  .productos {
    width: auto;
    text-align: initial;
    font-weight: bold;
    font-size: 18px;

  }

  #contenedorProductos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    margin: 50px 0;
    gap: 16px;
  }

.productos img {
    width: 290px;
    height: auto;
    display: block;
    background-color:rgb(210, 203, 203);
    border: 0.5px solid rgb(180, 174, 174);
    margin-bottom: 15px;
  }

/* ------------------------------------------------------ */

  footer {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    background-color:rgb(210, 203, 203);
    gap: 80px;
  }

  footer img{
    height: 70px;
    margin-top: 15px;
  }

  footer h3 {
    margin:10px 0;
  }

  footer li{
    list-style: none;
    margin-bottom: 15px;
  }

  footer #arrepentimiento{
    margin-top: 40px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
    width: 65%;
  }
/* ------------------------------------------------------ */
  #copyright {
    background-color: rgb(0, 0, 0);
    padding: 30px 50px;
    display: flex;
    align-items: center;
    gap: 30px;
  }

  #copyright p {
    color:#ffffff;
    font-size: 15px;
  }

  #copyright img {
    width: 115px;
    height: auto;
  }

/* ------------------------------------------------------ */
  /* PAGINA DE PRODUCTO INDIVIDUAL */

  #productoIndividual{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 80px;
  }

  #productoIndividual img{
    width: 80%;
    height: auto;
    display: block;
  }

  #productoIndividual div{
    text-align: center;
  }

  #productoIndividual h4{
    margin-top: 20px;
  }

  #productoIndividual button{
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold; 
    margin-top: 20px;
  }

  /* --------------------------------------------------- */

  /* PAGINA PROMOCIONES */

  #paginaPromocionesMain {
    margin-top: 50px;
  }

  #paginaPromocionesMain img{
    width: 100%;
    height: auto;
    display: block;
  }

  /* ---------------------------------------------------- */

  @media screen and (max-width: 1024px) and (min-width: 481px) {
    #promociones img{
      content: url("Fotos/fotosMobile/headertop-mobile.png");
      width: 100%;
    }

    #navegador ul{
      display: none;
    }

    #navegador #menuHamburguesa{
      display: block;
      width: 80px;
    }

    #navegador{
      justify-content: flex-start;
      gap: 15px;
    }

    #navegador div{
      margin-left: auto;
    }

    footer {
      flex-direction: column;
      text-align: center;
      gap: 10px;
      padding: 10px 0;
    }

    footer img, footer ul{
      display: none;
    }

        /* PAGINA PRODUCTO INDIVIDUAL */

    #productoIndividual{
      flex-direction: column;
    }

    #productoIndividual img{
      padding-left: 80px;
    }
  }

    @media screen and (max-width: 480px) {
    #promociones img{
      content: url("Fotos/fotosMobile/headertop-mobile.png");
      width: 100%;
    }

    /* barra navegadora */

    #navegador img{
      width: 110px;
    }

    #navegador ul{
      display: none;
    }

    #navegador div img{
      width: 35px;
    }

    #navegador ul{
      display: none;
    }

    #navegador #menuHamburguesa{
      display: block;
      width: 40px;
    }

    #navegador{
      justify-content: flex-start;
      gap: 5px;
      padding: 20px 5px;
    }

    #navegador div{
      margin-left: auto;
    }

    /* cartel promocion verde*/

    #promocion2 img{
      content: url("Fotos/fotosMobile/promocion2Mobile.png");
    }

    #carrusel img{
      content: url("Fotos/fotosMobile/publicidadMobile.jpg");
    }

    footer {
      flex-direction: column;
      text-align: center;
      gap: 10px;
      padding: 10px 0;
    }

    footer img, footer ul{
      display: none;
    }

    #copyright img{
      display: none;
    }

    #copyright {
      padding: 40px 20px;
    }

    #copyright p {
      font-size: 10px;
    }

    /* PAGINA PRODUCTO INDIVIDUAL */

    #productoIndividual{
      flex-direction: column;
    }

    #productoIndividual img{
      padding-left: 20px;
    }

  }